[submodule "deps/express"]
	path = deps/express
	url = https://github.com/visionmedia/express.git
[submodule "deps/tobi"]
	path = deps/tobi
	url = git://github.com/LearnBoost/tobi.git
[submodule "deps/expresso"]
	path = deps/expresso
	url = git://github.com/visionmedia/expresso.git
[submodule "deps/jsdom"]
	path = deps/jsdom
	url = git://github.com/tmpvar/jsdom.git
[submodule "deps/should"]
	path = deps/should
	url = git://github.com/visionmedia/should.js.git
