
	body
	{
		font-family:"Lucida Grande", sans;
		color:#ccc;
		margin:0;
		padding:0;
		background:#333;
	}
	

	#content
	{
		width:100%;
		height:100%;
		position:absolute;
		top:0;
		left:0;
		background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#111));
		
		padding:20px 0;
	}

	
	h1,h2,h3
	{
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		font-size:45px;
		font-weight:normal;
		text-shadow: #000 0px 1px 1px;
		color:#eee;
		margin-top:20px auto;
	}
	
	h2
	{
		font-size:30px;
		color:#ccc;
	}
	
	h3
	{
		font-size:22px;	
		color:#bbb;
	}
	
	input
	{
		padding:10px;
		border-radius:12px;
		font-size:16px;
		color:#ddd;
		background:rgba(0,0,0,.5);
		border:0;
	}
	
	.center
	{
		text-align:center;
	}
	
	#btnSubmit
	{
		background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#222));
		border:0;
		color:#fff;
		text-shadow: #000 0px 1px 1px;	
	}
	
	#btnSubmit:hover
	{
		background:#000;
	}
	
	#output
	{
		padding:10px 0;
		width:100%;
	}
	
	.label, label
	{
		color:#888;
		font-size:70%;
		margin-top:20px;
		display:block;
		margin-bottom:4px;
		font-weight:bold;
		text-shadow: #000 0px 1px 1px;	
	}
	
	.message
	{
		padding:10px 0;
		text-shadow: #000 0px 1px 1px;
	}
	
	.column
	{
		background:rgba(255,255,255,.2);
		margin-right:3px;
		width:6px;
		height:inherit;
		display:block;
		float:left;
		position:relative;
	}
	
	.graph
	{
		background:rgba(0,0,0,0.05);
		float:left;
		display:block;
		height:200px;
		padding:10px;
		margin:5px 0;
	}
	
	.time
	{
		padding-right:10px;
		color:#999;
		font-size:50%;
		display:block;
	}
	
	.menu-button
	{
		background:rgba(255,255,255,.4);
		padding:10px;
		width:30px;
		text-align:center;
		cursor:pointer;
		margin:2px 0;
	}
	
	.menu-button:hover
	{
		background:rgba(255,255,255,1);
		padding-left:15px;
	}